* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 5vh 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
}

.App {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;

    @include mq(xxsmall-landscape) {
        width: 30%;
    }

    &:before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 24vh;
        background: linear-gradient(#000, #f5f5f5);
        opacity: 0.3;
        z-index: -10;
    }
}

.form-wrapper {
    display: flex;
    margin-bottom: 7vh;
}

.select-wrapper {
    position: relative;

    .icons-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 3vw;
        top: 0;
        height: 100%;
        pointer-events: none;

        @include mq(xxsmall-landscape) {
            right: 1vw;
        }

        svg {
            font-size: 0.4rem;
            color: #333;

            @include mq(xxsmall-landscape) {
                font-size: 0.3rem;
            }
        }
    }

    select {
        padding: 1vh 10vh 1vh 2vh;
        width: 100%;
        margin: 1.5vh 0;
        background-color: transparent;
        border-radius: 0.8vh;
        -webkit-appearance: none;
        appearance: none;

        @include mq(small) {
            font-size: 1rem;
        }

        @include mq(medium) {
            font-size: 1.5rem;
        }

        @include mq(xxsmall-landscape) {
            font-size: 0.5rem;
        }

        @include mq(large-landscape) {
            font-size: 0.8rem;
        }
    }
}

.type-wrapper {
    display: flex;
    justify-content: space-between;
}

.fruits-list {
    margin-bottom: 7vh;

    .li-inside-wrapper {
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        div {
            margin: 0 20% 0 auto;

            @include mq(small) {
                margin: 0 30% 0 auto;
            }

            @include mq(xxsmall-landscape) {
                margin: 0 40% 0 auto;
            }
        }
    }

    li {
        display: flex;
        padding: 2vh 0;
        border-bottom: 0.1vh solid #959595;

        @include mq(xxsmall-landscape) {
            padding: 4vh 0;
        }

        @include mq(large-landscape) {
            padding: 3vh 0;
        }

        label {
            margin-left: 3vw;

            @include mq(xxsmall-landscape) {
                margin-left: 1.5vw;
            }
        }
    }
}

.prices-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    .prices-input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5vh;

        input {
            width: 100%;
            padding: 1vh 2vh;
            border: 0.2vh solid #959595;
            border-radius: 0.8vh;
        }
    }
}

.btn {
    all: unset;
    background-color: #000;
    color: #fff;
    padding: 1.5vh 2vh;
    border-radius: 0.8vh;
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: #000;
    width: 3vh;
    height: 3vh;

    @include mq(small-landscape) {
        width: 4.5vh;
        height: 4.5vh;
    }

    @include mq(large-landscape) {
        width: 4vh;
        height: 4vh;
    }
}

.error {
    color: #f00;
}

::placeholder {
    font-size: 1rem;

    @include mq(small) {
        font-size: 0.8rem;
    }
}
